@font-face {
  font-family: 'reisho';
  font-weight: 500;
  src: url('https://dl.dropboxusercontent.com/s/bnh8pjce88br7nt/BGREIRR.woff') format('woff');
} 

body {
  font-family: reisho;
  background-color: #F2F2F2;
}


#lifePointBoxBoard {
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

#myBox {
  background-color: #14378b;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#opponentBox {
  background-color: #7c0a01;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


#myLifePointBox, #opponentLifePointBox {
  font-size: 60px;
  padding: 5px;
  color: white;
}

#zoneBoard {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.zones {
  height: 129px;
  width: 129px;
  border: 0.5px solid #333333;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  background-color: #F2F2F2;
}

#zone1, #zone2, #zone3, #zone4, #zone5, #zone6, #zone7, #zone43, #zone44, #zone45, #zone46, #zone47, #zone48, #zone49 {
  border: 0px;
}

#zone23, #zone25, #zone27 {
  opacity: 0;
}

.decoratingCards {
  width: 88px;
  height: 126px;
}

.decoratingItems {
  width: 100px;
  height: 100px;
}

#commentBoard {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#commentArea {
  font-family: reisho;
  /* font-size: 60%; */
  font-size: 30px;
  font-weight: 550;
  letter-spacing: -1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 900px;
  resize: vertical;
  overflow: auto;
  border: 2px solid #627295;
  border-radius: 10px;
}

#saveCommentButton {}

#cardBoard {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #576128;
}

.cards {
  width: 88px;
  height: 126px;
  top: 0;
  left: 0;
  display: flex;
  cursor: pointer;
  /*position: absolute;*/
}

#searchBoard {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

#textBoxBoard {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBoxes {
  /* font-size: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;
  resize: vertical;
  overflow: auto;
  border: 2px solid #627295;
  border-radius: 10px;
}

#themeSelect {
  font-family: reisho;
}

#actionBoard {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  height: 129px;
  width: 129px;
  border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
  color: white;
  border-bottom: solid 2px #627295;
  border-radius: 10px;
}

.actions:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-bottom: none;
}

#action0FaceupMove, #action0FaceupZoom {
  background-image: url('https://pbs.twimg.com/media/FuYDP4maYAAJAKY?format=jpg&name=medium');
}

#action0FacedownMove, #action0FacedownZoom {
  background-image: url('https://pbs.twimg.com/media/FuYDQkhaEAIGzSI?format=jpg&name=medium');
}

#action90FaceupMove, #action90FaceupZoom {
  background-image: url('https://pbs.twimg.com/media/FuYDQO5agAI8StI?format=jpg&name=medium');
}

#action90FacedownMove, #action90FacedownZoom {
  background-image: url('https://pbs.twimg.com/media/FuYDQ91aAAE0ln8?format=jpg&name=medium');
}

#action180FaceupMove, #action180FaceupZoom {
  background-image: url('https://pbs.twimg.com/media/FwexhzbakAA5mi9?format=jpg&name=medium');
}

#action180FacedownMove, #action180FacedownZoom {
  background-image: url('https://pbs.twimg.com/media/FwexiLSaAAEKwfH?format=jpg&name=medium');
}

#actionActivateEffect, #actionMoveGlow {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQPcI1AYiStaV31anl6zEmsJqfkhc4TmopZA&usqp=CAU');
  color: black;
}

.summonAnimation {
  animation: summonAnimationKeyframes 0.4s;
}

@keyframes summonAnimationKeyframes {
  0% {
    filter: brightness(25%);
  }
  25% {
    filter: brightness(40%);
  }
  50% {
    filter: brightness(50%);
  }
  75% {
    filter: brightness(75%);
  }
  100% {
    filter: brightness(100%);
  }
}

.cardGlowAnimation {
  animation: cardGlowKeyFrames 1s;
}

@keyframes cardGlowKeyFrames {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(100%);
  }
}

/*@keyframes cardGlowKeyFrames {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(133%);
  }
  50% {
    filter: brightness(166%);
  }
  75% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(100%);
  }
}*/

footer {
  background-color: #f8f8f8;
  padding: 8px;
  text-align: center;
}

footer p {
  color: black;
  font-size: 14px;
}